.description {
  font-style: italic;
}
.postContent {
  max-width: 600px;
}
.date {
  font-weight: 300;
  font-size: 1rem;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.fullPost {
  margin-bottom: 60px;
}

.bottomLink {
  margin-bottom: 60px;
}
