.description {
  font-style: italic;
}
.postContent {
  max-width: 600px;
}
.date {
  font-weight: 300;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.fullPost {
  margin-bottom: 60px;
}

.bottomLink {
  margin-bottom: 60px;
}
